@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body {
  margin: 0;
  height: 100%;
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

#temperature, #humidity {
  width: 100%;
  height: 45%;
  margin: 0;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

#temperature {
  background-color: #E5AD62;
}

#humidity {
  background-color: #BCD09D;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited{
     color: inherit;
}

footer {
  height: 10%;
  width: 100%;
  background-color: #fff;
  color: #cccccc;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

.icons-container {
  margin-left: auto;
}

.ico {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: solid 1px #bbb;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}

.ico:hover {
  background-color: #bbb;
  color: white;
}

@media screen and (max-width: 1200px) {
  #temperature, #humidity {
    font-size: 4rem;
  }
}

@media screen and (max-width: 980px) {
  #temperature, #humidity {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 680px) {
  #temperature, #humidity {
    font-size: 1.9rem;
  }

  footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  #where-ico {
    display: none;
  }
}